	</div>

	<footer class="site-footer"><div class="container">
		<div class="site-footer-copyrights">
			<p>&copy; 2016 {{ .Site.Title }}</p>
			<p>This site is <a href="https://github.com/blackieops/deployawebsite">open source</a>!</p>
		</div>

		<div class="site-footer-presented">
			Presented by<br>
			<a href="https://www.blackieops.com/">
				<img src="https://www.blackieops.com/images/logo.svg" alt="BlackieOps" height="32" valign="middle">
			</a>
		</div>
	</div></footer>
</body>
</html>
