body {
	font-family: "PT Sans", sans-serif;
	font-size: $font-size-base;

	@media screen and (max-width: $break-tiny) {
		font-size: $font-size-base-mobile;
	}
}

hr {
	outline: 0;
	height: 2px;
	margin: 2rem 0;
	border: none;
	background: $color-border;
}

code, pre {
	font-family: "Source Code Pro", monospace;
	background-color: #fdfaf0;
}

code {
	font-size: 0.85em;
	padding: 1px 3px;
}

pre {
	padding: 1em;
	line-height: 1.25em;
	overflow: auto;
	max-height: 500px;

	@media screen and (max-width: $break-tiny) {
		margin: 0 (-$padding-content-mobile);
	}
}

strong {
	font-weight: bold;
	font-size: 1.1em;
}

h1, h2, h3, h4 {
	font-weight: 700;
}
