.site-footer {
	padding: $padding-header 0;
	border-top: 2px solid $color-border;
	color: $color-text-footer;

	@media screen and (min-width: $break-tiny + 1px) {
		display: flex;
		justify-content: space-between;
	}

	@media screen and (max-width: $break-tiny) {
		padding: $padding-header $padding-content-mobile;
	}

	.legal {
		line-height: 1.5em;
	}

	.credits {
		font-size: 0.75em;

		@media screen and (max-width: $break-tiny) {
			margin-top: 2rem;
		}
	}

	a {
		color: darken($color-text-footer, 15%);

		&:hover {
			color: $color-text;
		}
	}

	img {
		display: block;
		margin-top: 0.25rem;
		filter: grayscale(100%);
		transition: filter 0.3s ease;

		&:hover {
			filter: grayscale(0%);
		}
	}
}
