.site-header {
	padding: $padding-header*3 0 $padding-header;

	h1 {
		padding-left: $padding-content - 1rem;
		border-left: 1rem solid $color-highlight;
		font-size: 5em;
		font-weight: 700;
		letter-spacing: -0.06em;

		@media screen and (max-width: $break-tiny) {
			font-size: 3.5em;
		}
	}

	a {
		text-decoration: none;
		color: $color-text;
	}
}
