<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/site.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400|Source+Code+Pro:400" type="text/css">
		<title>{{ .Site.Title }} {{ .Title }}</title>
		<script async defer data-domain="deployawebsite.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body class="{{.Params.body_class}}">
		<div class="container">
			<header class="site-header">
				<h1><a href="/">{{ .Site.Title }}</a></h1>
			</header>

			{{ if .Title }}
				<header class="site-content-header">
					<h1 class="site-content-title">&hellip; {{ .Title }}</h1>
				</header>
			{{ end }}

			<article class="site-content">
				{{ if .Params.article_section }}
				<h1 class="site-content-subtitle">{{ .Params.article_section }}</h1>
				{{ end }}

				{{ .Content }}

				<nav class="section-nav">
					{{ if .Params.previous_link }}
					<div class="section-nav-previous">
						<a href="{{ .Params.previous_link }}">&larr; Previous: {{ .Params.previous_text }}</a>
					</div>
					{{ end }}
					{{ if .Params.next_link }}
					<div class="section-nav-next">
						<a href="{{ .Params.next_link }}">Next: {{ .Params.next_text }} &rarr;</a>
					</div>
					{{ end }}
				</nav>
			</article>

			<footer class="site-footer">
				<div class="legal">
					<p>The content is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> license.</p>
					<p><a href="https://github.com/blackieops/deployawebsite">The code</a> is under the BSD-3 license. Patches welcome!</p>
				</div>

				<div class="credits">
					Presented by:<br>
					<a href="https://blackieops.com"><img src="/images/blackieops.svg" alt="BlackieOps Logo" width="150"></a>
				</div>
			</footer>
		</div>
	</body>
</html>
