.site-footer {
	margin-top: 2em;
	padding: 3em 0;
	background-color: $color-background-footer;
	color: $color-text-light;
	line-height: 1.5em;

	p {
		margin: 0;
	}

	a {
		color: darken($color-text-light, 10%);
	}
}
.site-footer-copyrights {
	@include span(6 first);
}

.site-footer-presented {
	@include span(6 last);
	text-align: right;
}
