.site-header {
	padding: 3em;
	background-color: $color-background-header;
	color: $color-text-inverted;

	h1 {
		margin: 0;
		font-size: 3em;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: white;
			}
		}
	}

	.presented {
		margin-top: 1em;

		img {
			@include transition(all 0.3s ease);

			&:not(:hover) {
				@include filter(grayscale(100%));
				opacity: 0.75;
			}
		}
	}
}
