@import "code.css";

/*******************************************************************************
 * Variables
 ******************************************************************************/

:root {
  --color-text: #323232;
  --color-text-light: #a5a5a5;
  --color-border: #eaeaea;
  --color-highlight: orange;

  --font-family-primary: "PT Sans", sans-serif;
  --font-family-mono: "Source Code Pro", monospace;
}


/*******************************************************************************
 * Meyer's reset.css
 ******************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


/*******************************************************************************
 * Global Styles
 ******************************************************************************/

body {
  font-family: var(--font-family-primary);
  font-size: 18px;
  color: var(--color-text);
}

@media screen and (max-width:  640px) {
  body {
    font-size: 15px
  }
}

hr {
  outline: 0;
  height: 2px;
  margin: 2rem 0;
  border: none;
  background: #eee
}

code, pre {
  font-family: var(--font-family-mono);
  background-color: #fdfaf0
}

code {
  font-size: 0.85em;
  padding: 1px 3px
}

pre {
  padding: 1em;
  line-height: 1.25em;
  overflow: auto;
  max-height: 500px
}

@media screen and (max-width:  640px) {
  pre {
    margin: 0 -2rem
  }
}

strong {
  font-weight: bold;
  font-size: 1.1em
}

h1, h2, h3, h4 {
  font-weight: 700
}


/*******************************************************************************
 * Layout and Structural
 ******************************************************************************/

.container {
  max-width: 860px;
  margin: auto
}

.container::after {
  clear: both;
  content: "";
  display: table
}

.site-header {
  padding: 3rem 0 1rem
}

.site-header h1 {
  padding-left: 2rem;
  border-left: 1rem solid var(--color-highlight);
  font-size: 3em;
  letter-spacing: -0.06em
}

@media screen and (max-width:  640px) {
  .site-header h1 {
    font-size: 3.5em
  }
}

.site-header a {
  text-decoration: none;
  color: #252525
}

.site-content-header h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
  line-height: 1.1em
}


/*******************************************************************************
 * Content
 ******************************************************************************/

.site-content {
  padding: 0 3rem;
  overflow: hidden;
}

@media screen and (max-width:  640px) {
  .site-content {
    padding: 0 2rem
  }
}

.site-content h1,
.site-content h2,
.site-content h3,
.site-content h4 {
  margin: 3em 0 1em
}

.site-content h1, .site-content h2 {
  margin-left: -2rem;
  padding-left: 1rem;
  border-left: 1rem solid var(--color-border);
  font-size: 1.75em
}

.site-content h1 {
  margin-top: 0;
  font-size: 1.5em
}

.site-content h3 {
  font-size: 1.25em
}

.site-content p, .site-content li, .site-content blockquote {
  margin: 1.5em 0;
  line-height: 1.5em
}

.site-content ul, .site-content ol {
  margin: 1em 0;
  padding-left: 1.5em
}

.site-content ul.compact li,
.site-content ol.compact li {
  margin: 0.5em 0
}

.site-content ul {
  list-style-type: square
}

.site-content ol {
  list-style-type: decimal
}

.site-content .section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em -3rem 1em -3rem;
}

.site-content .section-nav a {
  display: inline-block;
  padding: 1em;
  background-color: var(--color-border);
}

.site-content .section-nav-next {
  order: 10;
}

.site-content .section-nav-previous {
  order: 1;
}


/*******************************************************************************
 * Footer
 ******************************************************************************/

.site-footer {
  padding: 1rem 0;
  border-top: 2px solid var(--color-border);
  color: var(--color-text-light);
}

@media screen and (min-width:  641px) {
  .site-footer {
    display: flex;
    justify-content: space-between
  }
}

@media screen and (max-width:  640px) {
  .site-footer {
    padding: 1rem 2rem
  }
}

.site-footer .legal {
  line-height: 1.5em
}

.site-footer .credits {
  font-size: 0.75em
}

@media screen and (max-width:  640px) {
  .site-footer .credits {
    margin-top: 2rem
  }
}

.site-footer a {
  color: var(--color-text-light);
}

.site-footer a:hover {
  color: var(--color-text);
}

.site-footer img {
  display: block;
  margin-top: 0.25rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease
}

.site-footer img:hover {
  filter: grayscale(0%)
}

